{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block body %}

<!------------------------------------------- ORIGINAL DECK-------------------------------------------------->
<h1> Original Deck : </h1>
<p>Bottom of deck</p>
{% if saved_sorted_deck.cards %}
{% for card in saved_sorted_deck.cards %}
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename ='images/')}}{{card}}.svg">
    <img src="{{url_for('static', filename ='images/')}}{{card}}.svg" id="1"style="width:100%; ">
  </a>
</div>
{%endfor%}
{%endif%}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p>top of deck</p>
<br>
<br>

<h1> Card drawn from top of original deck : </h1>

{% if saved_sorted_deck %}
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename ='images/')}}{{sorted_deck_draw_card}}.svg">
    <img src="{{url_for('static', filename ='images/')}}{{sorted_deck_draw_card}}.svg" id="1"style="width:100%; ">
  </a>
</div>
{%endif%}
<!------------------------------------------- END OF ORIGINAL DECK-------------------------------------------------->

<br>
<br>
<br>
<br>


<!------------------------------------------- SHUFFLED DECK-------------------------------------------------->

<h1> Shuffled Deck : </h1>
<p>Bottom of deck</p>
{% if saved_shuffled_deck.cards %}
{% for card in saved_shuffled_deck.cards %}
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename ='images/')}}{{card}}.svg">
    <img src="{{url_for('static', filename ='images/')}}{{card}}.svg" id="1"style="width:100%; ">
  </a>
</div>
{%endfor%}
{%endif%}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p>top of deck</p>

<br>
<br>


<h1> Card drawn from top of Shuffled Deck : </h1>

{% if shuffled_deck_draw_card %}
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename ='images/')}}{{shuffled_deck_draw_card}}.svg">
    <img src="{{url_for('static', filename ='images/')}}{{shuffled_deck_draw_card}}.svg" id="1"style="width:100%; ">
  </a>
</div>
{%endif%}

<!------------------------------------------- END OF SHUFFLED DECK-------------------------------------------------->



{% endblock %}
